<!DOCTYPE html>
<html ng-app="MeApp">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stocks - Food Trade</title>
    <link href="../Content/bootstrap.min.css" rel="stylesheet" />
    <link href="../Content/Site.css" rel="stylesheet" />
    <script src="../Scripts/jquery-1.10.2.min.js"></script>
    <script src="../Scripts/modernizr-2.6.2.js"></script>
    <script src="../Scripts/respond.min.js"></script>
    <script src="../Scripts/bootstrap.min.js"></script>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="...\Index.html" target="_self">Home</a></li>
                    <li><a href="..\Products\Index.html" target="_self">Products</a></li>
                    <li><a href="..\Suppliers\Index.html" target="_self">Suppliers</a></li>
                    <li><a href="..\Consumers\Index.html" target="_self">Consumers</a></li>
                    <li><a href="..\SupplierProducts\Index.html" target="_self">Stocks</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        <div class="jumbotron">
            <h1>Food Trade System</h1>
            <p class="lead">A web enabled simple system to manage food supplies inside the office.</p>
        </div>

        <h2>Stocks Detail Page</h2>

        <p>
            <a href="..\SupplierProducts\Index.html" class="btn btn-primary btn-lg">Back</a>
            <input type="button" class="btn btn-primary btn-lg" value="Save" onclick="$('#InfoForm').submit();" />
        </p>
        <hr />
        <form id="InfoForm" ng-submit="submit()" ng-controller="MeController">
            <input type="hidden" ng-model="item.ID" id="ID" name="ID" />
            <input type="hidden" ng-model="item.CreatedBy" id="CreatedBy" name="CreatedBy" />
            <input type="hidden" ng-model="item.CreatedDate" id="CreatedDate" name="CreatedDate" />
            <div class="form-group">
                <label for="name" class="col-sm-2 control-label">Supplier name</label>
                <div class="col-sm-10">
                    <input type="text" ng-model="item.SupID" class="form-control" id="SupID" name="SupID" placeholder="Supplier Name">
                </div>
            </div>
            <br />
            <div class="form-group">
                <label for="name" class="col-sm-2 control-label">Product name</label>
                <div class="col-sm-10">
                    <input type="text" ng-model="item.ProdID" class="form-control" id="ProdID" name="ProdID" placeholder="Product Name">
                </div>
            </div>
            <br />
            <div class="form-group">
                <label for="name" class="col-sm-2 control-label">Stock</label>
                <div class="col-sm-10">
                    <input type="text" ng-model="item.Quantity" class="form-control" id="Quantity" name="Quantity" placeholder="Quantity">
                </div>
            </div>
            <br />
            <div class="form-group">
                <label for="name" class="col-sm-2 control-label">SRP</label>
                <div class="col-sm-10">
                    <input type="text" ng-model="item.Price" class="form-control" id="Price" name="Price" placeholder="Price">
                </div>
            </div>
            <br />
            <div class="form-group">
                <label for="name" class="col-sm-2 control-label">Status</label>
                <div class="col-sm-1">
                    <input type="checkbox" ng-model="item.Status" class="form-control" id="Status" name="Status">
                </div>
            </div>
        </form>
        <br />
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular.min.js"></script>
        <script src="../Scripts/foodtrade.js"></script>
        <script>
            $.FTCommon.LoadDetail("supplierproduct");
        </script>
        <hr />
        <footer>
            <p>&copy; 2016 - Angelo Lopez Application</p>
        </footer>
    </div>
</body>
</html>
